<h1 style="color:red"> Author Component </h1>
<div data-sly-use.author="${'com.aemgeeks.core.models.Author' @ rAttribute = 'TestAttribute'}">
 <p style="color:red"> First Name : <b style="color:green">${author.firstName}</b></p>
 <p style="color:red"> Last Name : <b style="color:green">${author.lastName}</b></p>
 <p style="color:red"> Is Professor : <b style="color:green">${author.isProfessor}</b></p>
 <p style="color:red"> Current Page Title : <b style="color:green">${author.pageTitle}</b></p>
 <p style="color:red"> Request Attribute : <b style="color:green">${author.reqAttribute}</b></p>
 <p style="color:red"> Home Page Name : <b style="color:green">${author.homePageName}</b></p>
 <p style="color:red"> Last ModifiedBy : <b style="color:green">${author.lastModifiedBy}</b></p>
</div>